{% extends "base.html" %}

{% block title %}기관소개{% endblock %}

{% load staticfiles %}
{% block content %}
    <div id="content" class="container">
        <div class="page-header">
            <h1>조직안내</h1>
        </div>

        {% if obj %}
            <p>{{ odj.modified_date }}</p>
            <div>
                {% if obj.image %}
                    <img src="{{ obj.image.url }}" />
                {% endif %}
                <p>{{ obj.contents|linebreaks  }}</p>
            </div>
        {% endif %}

    </div>
{% endblock %}
