<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SKHU 동문회 사이트{% endblock %}</title>

    {% load staticfiles %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}"/>

</head>
<body>
{% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url "home" %}"><span>성공회대학교 인문학습원</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'info:index' %}">기관소개</a></li>
                        {% if user.is_active %}
                            <li><a href="{% url 'notice:index' %}">열림마당</a></li>
                            <li><a href="{% url 'alumni:index' %}">동문회</a></li>
                            <li><a href="{% url 'my_page' %}">마이페이지</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% if user.is_admin %}
                                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                            {% endif %}
                        {% else %}
                            <li><a href="#">기타서비스</a></li>
                            <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

    <div class="content">
{% block submenu %}
    {% include "_sub_menu.html" %}
{% endblock %}

{% block content %}
{% endblock %}
    </div>

{% block footer %}
    <footer class="section section-primary footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>성공회대학교</h2>
                    <p>(152-716) 서울특별시 구로구 연동로 320
                        <br>Tel 02)2610-4808 &nbsp; &nbsp; &nbsp; Fax 02)2610-4737
                        <br>Copyright(c) SUNGKONGHOE University. All Right Reserved.
                        <br> * 관리자 / 010-5032-9325 / team.kimkongko@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
</body>
</html>