{% extends "base.html" %}

{% block title %}비밀번호 변경{% endblock %}

{% block content %}
<div id="content" class="container">
    <h1>{{ title }}</h1>

    <form action="." method="post">{% csrf_token %}

        {% if form.errors %}
        <p class="errornote">올바른 값을 입력해주세요!</p>
        {% endif %}

        <p> 안전한 비밀번호 변경을 위해 이전 비밀번호와 새 비밀번호를 입력해주세요.</p>

        <fieldset class="aligned">
            <div class="form-row">
                {{ form.old_password.label_tag }} {{ form.old_password }}
            </div>

            <div class="form-row">
                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
            </div>

            <div class="form-row">
                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
            </div>
        </fieldset>

    <div class="submit-row">
        <input type="submit" value="Password Change"/>
    </div>

    <script type="text/javascript">document.getElementById("id_old_password").focus()</script>
    </form>

</div>
{% endblock %}
