div#header {
    width:1280px;
    height:180px;
    background-color:#80b195;
}
.maintitile {
    width:360px;
    height:180px;
}

div#menu {
    width:1280px;
    height:20px;
    background-color:#dddddd;
}

div#menu li {
    display:inline-block;
}

.user-box {
    border: solid 1px skyblue;
    margin: 10px;
}

.user-box div {
    padding-right: 20px;
    display: inline-block;
}
