{% extends "base.html" %}

{% block content %}
    <div class="post">

        <h1>{{ post.title }}</h1>
        {% if post.photo %}
            <img src="{{ post.photo.url}}" />
        {% endif%}
        <p>{{ post.content | linebreaksbr }}</p>
    </div>
    <h3>Comments</h3>

    <a href="{% url "board:comment_new" post.pk %}">댓글 작성</a>

    {% for comment in post.comment_set.all %}
    <li>
        {{ comment.message }}
        <small>by {{ comment.author }}</small>
        <small>{{ comment.created_at }}</small>
        <a href="{% url "board:comment_edit" post.pk comment.pk %}">수정</a>
    </li>
    {% endfor %}
    <a class="btn btn-default" href="{% url "board:post_edit" pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href="{% url "board:post_delete" post.pk %}">삭제 ㄱ ㄱ</a>
{% endblock %}