{% extends "base.html" %}

{% block title %}지도{% endblock %}

{% load staticfiles %}
{% block content %}
    <div id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>hello django</h1>

                <table class="table table-hover table-bordered">
                    <tbody>
                    {% for post in post_list %}
                        <tr>
                            <td>{{ post.title }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
