{% extends "base.html" %}

{% block title %}지도{% endblock %}

{% load staticfiles %}
{% block content %}
    <div id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Free Board Test...</h1>

                    <ol>
                    <h3>제목</h3>
                    {% for post in post_list %}
                        <li>
                            <a href="{% url "board:post_detail" post.pk %}"><td>{{ post.title }}</td></a>
                        </li>
                    {% endfor %}
                    </ol>
            </div>
        </div>
    </div>
{% endblock %}