{% extends "base.html" %}

{% block title %}SKHU 동문 목록{% endblock %}

{% load staticfiles %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        {% if request.path == '/alumni/' %}
                            <h1>동문 목록</h1>
                        {% elif request.path == '/alumni/executive/' %}
                            <h1>임원 목록</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="user-search">
                {% include "alumni/_user_search.html" %}
            </div>
            {% for user in object_list %}
                {% ifchanged user.period %}
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center">{{ user.period }}기</h2>
                        </div>
                    </div>
                    <hr style="border: solid black 1px;">
                {% endifchanged %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="row">
                {% endif %}

            <a href="{% url 'alumni:detail' user.id %}">
                <div class="col-md-2">
                    {% if user.open_picture and user.picture %}
                        <img class="img-circle img-responsive" src="{{ user.picture.url }}" />
                    {% else %}
                        <img class="img-circle img-responsive" src="{% static "images/etc/unknown.png" %}" />
                    {% endif %}
                </div>
            </a>
            <div class="col-md-4">
                <h3 class="text-left">{{ user }}</h3>
                <p class="text-left">{{ user.period }}기 / {{ user.position }}</p>
                {% if user.open_login_id %}
                    <p class="text-left">
                    <a href="tel:{{ user.login_id }}">{{ user.login_id }}</a>
                {% endif %}
                {% if user.open_email %}
                    <p class="text-left">
                        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                    </p>
                {% endif %}
            </div>
            {% if forloop.counter|divisibleby:2 %}
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
