{% extends "base.html" %}

{% block title %}SKHU 동문 목록{% endblock %}

{% load staticfiles %}
{% block content %}
<div id="content" class="container">
    <h1>동문 명단</h1>
    <div id="user-search">
        {% include "alumni/_user_search.html" %}
    </div>
    <ul>
        {% for user in object_list %}
            <a href="{% url 'alumni:detail' user.id %}">
            <div class="user-box" >
                <div class="user-picture">
                {% if user.open_picture and user.picture %}
                    <img src="{{ user.picture.url }}" />
                {% else %}
                    <img src="{% static "/images/etc/unknown.png" %}" />
                {% endif %}
                </div>
                <div class="user-info">
                    <li>{{ user }}</li>
                    <li>{{ user.period }}기 / {{ user.position }}</li>
                </div>
                {% if user.open_login_id %}
                <div class="user-call">{{ user.login_id }}</div>
                {% endif %}
                {% if user.open_email %}
                <div class="user-mail">{{ user.email }}</div>
                {% endif %}
            </div>
            </a>
        {% endfor %}
    </ul>
</div>
{% endblock %}
