{% extends "base.html" %}

{% block title %}SKHU 동문 목록{% endblock %}

{% load staticfiles %}
{% block content %}
<div id="content">
    <h1>동문 명단</h1>
    <div id="user-search">
        {% include "alumni/_user_search.html" %}
    </div>
    <ul>
        {% for user in object_list %}
            <a href="#">
            <div class="user-box" >
                <div class="user-picture">
                {% if user.open_picture == 'False' %}
                    <img src="{{ user.picture }}" />
                {% else %}
                    <img src="{% static "/images/etc/unknown.png" %}" />
                {% endif %}
                </div>
                <div class="user-info">
                    <li> {{ user }}</li>
                    <li>{{ user.period }}기 / {{ user.position }}</li>
                </div>
                <div class="user-call">{{ user.login_id }}</div>
                <div class="user-mail">{{ user.email }}</div>
            </div>
            </a>
        {% endfor %}
    </ul>
</div>
{% endblock %}
